#.gitattributes
*.as linguist-language=angelscript
*.bat linguist-language=angelscript
*.cmd linguist-language=angelscript
*.ps1 linguist-language=angelscript
*.sh linguist-language=angelscript
*.ahk linguist-language=angelscript
